extends ../layouts
block content
    .container
        .row
            each cat in categories
                .panel.panel-default
                    .panel-heading
                        a(href="/#{cat._id}/1")
                            h3 #{cat.name}
                    .panel-body
                        if cat.movies && cat.movies.length>0
                            each movie in cat.movies
                                .col-md-2
                                    .thumbnail
                                        a(href="/movie/#{movie.id}")
                                            img(src="#{movie.poster}",alt="#{movie.title}")
                                        .caption
                                            h4 片名：#{movie.title}
                                            p: a.btn.btn-primary(href="",role="button") 觀看
                            