extends ../layouts
block content
    .container
        .row
            .page-header
                h1 搜索結果
            .panel.panel-default
                .panel-heading
                    h3 #{result}
                .panel-body
                    each movie in movies
                        .col-md-2
                            .thumbnail
                                a(href="/movie/#{movie.id}")
                                                img(src="#{movie.poster}",alt="#{movie.title}")
                                            .caption
                                                h4 片名：#{movie.title}
                                                p: a.btn.btn-primary(href="",role="button") 觀看
                                