extends ../layouts
block content
    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th 電影主題
                        th 導演
                        th 國家
                        th 語言
                        th 上映年份
                        th 登錄時間
                        th 查看
                        th 更新
                        th 刪除
                tbody
                    each movie in movies
                        tr(class="item-id-#{movie.id}")
                            td #{movie.title}
                            td #{movie.director}
                            td #{movie.nation}
                            td #{movie.lang}
                            td #{movie.year}
                            td #{moment(movie.meta.createAt).format('MM/DD/YYYY')}
                            td: a.btn.btn-default(href="../movie/#{movie.id}") 查看
                            td: a.btn.btn-info(target="_blank",href="../admin/update/#{movie.id}")修改
                            td
                                button.btn.btn-danger.del(type="button",data-id="#{movie.id}")刪除

                            
                            